.closeModal-button {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../../assets/images/closeIcon.png');

  &:hover {
      cursor: pointer;
  }
}

.delete-button {
  position: absolute;
  right: 0px;
  top: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url('../../../assets/images/deleteIcon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.delete-button:hover {
  background-image: url('../../../assets/images/deleteHoverIcon.png');
  cursor: pointer;
}