.register-form {
    @include displayFlex-center;
    width: 360px;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: $secondary-color;

    &-title {
        text-align: center;
    }
}

.form-register-credentials {
    @include displayFlex-center;
    flex-direction: column;
}

.register-options {
    margin-bottom: 20px;
    &-login {
        margin-bottom: 10px;
        text-align: center;
        font-size: 13px;
        color: $font-color1;
        a {
            color: $font-color1;
        }
        
    }
}


.loading-registerForm {

    position: relative;
    border: 8px solid #6a6969;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
   

}

.error-registerForm {
    margin: 1px 0;
    color: #ea2b2b;
    font-weight: 500;
}