.results-container {
    width: 800px;
    height: 100%;
    overflow: auto;
    background-color: rgba(43, 43, 43, 0.85);
    border: 1px solid rgba(43, 43, 43, 0.85);

    

    @media (max-width: 790px) {
        width: 100%;
    }


}













// scrollbar

.results-container::-webkit-scrollbar {
    width: 21px;
    height: 21px;
}
.results-container::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.results-container::-webkit-scrollbar-thumb {
    background: #161616;
    border: 8px solid #0e0e0e;
    border-radius: 50px;
    border-top: none;
    border-bottom: none;
}
.results-container::-webkit-scrollbar-thumb:hover {
    background: #161616;
}
.results-container::-webkit-scrollbar-thumb:active {
    background: #161616;
}
.results-container::-webkit-scrollbar-track {
    background: #010101;
    border: 8px solid #0e0e0e;
    // border-radius: 3px;
}
.results-container::-webkit-scrollbar-track:hover {
    background: #010101;
}
.results-container::-webkit-scrollbar-track:active {
    background: #010101;
}
.results-container::-webkit-scrollbar-corner {
    background: transparent;
}