.user {
    position: relative;
    height: 100%;

    /// toggle menu
    &:hover > .user-config {
        display: block
    }

    &-container {
        @include displayFlex-center;
        height: 100%;
    }

    &-photo {
        width: 50px;
        height: 50px;
        margin: 0 5px 0 5px;
        border-radius: 100%;

        img {
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
    }

    &-name {
        margin: 0 15px 0 5px;
    }

    @media (max-width: 545px) {
        width: 170px; 
    
    }
}


.loading {
    &-user {
        width: 190px;
        height: 50px;
    }
}