.user-config {
    position: absolute;
    display: none;
    width: 100%;
    padding: 0 15px 0 5px;
    text-align: end;
    z-index: 20;
    background: $secondary-color;

    &-password {
        &:hover {
            text-decoration: underline;
        }
        a {
            color: $font-color1;
            text-decoration: none;
        }
    }
    &-logout {
        &:hover {
            text-decoration: underline;
        }
        a {
            color: $font-color1;
            text-decoration: none;
        }
    }
}