.mainProfile {
    &-page {
        display: flex;
        flex-direction: column;
        min-height: 85vh;
        padding: 5px 150px;
        background-color: $primary-color;
    }
}

.favoriteComics {
    &-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-auto-rows: auto auto;
        grid-gap: 30px;
        height: 100%;
        padding: 50px 0;
    }
}