@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


$font1: 'Ubuntu', sans-serif;
$font-color1: #CDCDCD;
$primary-color: #0A0A0A;
$secondary-color: rgba(43, 43, 43, 0.42);
$light-color: #FFFFFF;
$dark-color: #000;

$facebook-color: #292EB2;
$google-color: #D01515;

$hasBackgroundImage: true;

@if $hasBackgroundImage {
    $font-color1: #fff;
    $primary-color: rgba(10, 10, 10, 0.87);
    $secondary-color: rgba(43, 43, 43, 0.85);
}
  



@mixin layout-padding {
    padding: 0 50px;

    @media (max-width: 629px) {
        padding: 0 20px;
    }
}

@mixin displayFlex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}



body {
    margin: 0;
    box-sizing: border-box;
    // background-color: $primary-color;
    background-image: url('../assets/images/marvelComicsWallpaper.jpg');
    font-family: $font1;
    color: $font-color1
}

.modal-container {
    @include displayFlex-center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.452);
}

@import './skeleton.scss';


@import './components/user/UserConfig.scss';
@import './components/inputs/FormInput.scss';
@import './components/buttons/FormButton.scss';
@import './components/Footer.scss';
@import './components/inputs/SearchInput.scss';
@import './components/inputs/CheckboxInput.scss';
@import './components/ScrollBar.scss';
@import './components/buttons/DeleteButton.scss';
@import './components/buttons/CloseModalButton.scss';

@import './containers/Header.scss';
@import './containers/LoginForm.scss';
@import './containers/RegisterForm.scss';
@import './containers/Search.scss';
@import './containers/ResultsContainer.scss';
@import './containers/User.scss';
@import './containers/CharacterResult.scss';
@import './containers/ComicsResult.scss';
@import './containers/ComicFavorite.scss';
@import './containers//ModalComicFavorite.scss';

@import './pages/LoginPage.scss';
@import './pages/RegisterPage.scss';
@import './pages/MainPage.scss';
@import './pages/MainProfilePage.scss';
@import './pages/SignOutPage.scss';