.search-input {
    position: relative;
    z-index: 10;
    width: 92%;
    height: 35px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
    color: $font-color1;
    font-family: $font1;

    &:focus {
        outline: none;
        
    }
   
    
    &-container {
        position: relative;
        z-index: 1;
        width: 510px;
        height: 35px;
        padding-left: 12px;
        border: none;
        border-radius: 20px;
        background-color: $secondary-color;
        color: $font-color1;


        &:after {
            position: relative;
            top: 2px;
            padding: 12px 0 0 12px;
            content: url('../../../assets/images/icon.png');
        }
    }
    
    &-img {
        position: relative;
        z-index: 10;
        width: 15px;
        height: 15px;
    }


    
}